<h4>Comic Entry</h4>
<form novalidate role="form" >
    <div class="row form-group">
        <div class="col-md-4">
            <label for="ddl-publisher" class="">Publisher</label>
        </div>
        <div class="col-md-8">
            <select class="form-control" id="ddl-publisher" ng-model="form.publisher">
                <option value="">--</option>
                <option value="1">Marvel</option>
                <option value="2">DC</option>
                <option value="3">Image</option>
            </select>
        </div>
    </div>
    <div class="row form-group">
        <div class="col-md-4">
            <label for="ddl-title">Title</label>
        </div>
        <div class="col-md-8">
            <ddl-titles  id="ddl-title" ></ddl-titles>
           <!-- <select class="form-control" id="ddl-title" ng-model="form.title">
                <option value="">--</option>
                <option value="1">Amazing Spider-man</option>
                <option value="2">Mighty Thor</option>
                <option value="3">Batman</option>
            </select>-->
        </div>
    </div>
    <div class="row form-group">
        <div class="col-md-4">
            <label for="txt-issue">Issue</label>
        </div>
        <div class="col-md-8">
            <input type="text" class="form-control" id="txt-issue" data-ng-model="form.issue" ng-required="form.publisher">
        </div>
    </div>
    <div class="row form-group">
        <div class="col-md-4">
            <label for="txt-qty">Qty</label>
        </div>
        <div class="col-md-8">
            <input type="text" class="form-control" id="txt-qty" data-ng-model="form.qty">
        </div>
    </div>
    <div class="row form-group">
        <div class="col-md-4">
            <label for="txt-price">Price</label>
        </div>
        <div class="col-md-8">
            <input type="text" class="form-control" id="txt-price" data-ng-model="form.price">
        </div>
    </div>
    <div class="row form-group">
        <div class="col-md-4">
            <label for="txt-condition">Condition</label>
        </div>
        <div class="col-md-8">
            <select class="form-control" id="txt-condition" data-ng-model="form.condition" >
                <option value="">--</option>
                <option value="M">Mint</option>
                <option value="F">Fine</option>
                <option value="G">Good</option>
                <option value="F">Fair</option>
                <option value="P">Poor</option>
            </select>
        </div>
    </div>
    <div class="row form-group">
        <div class="col-md-4">
            <label for="txt-box">Box</label>
        </div>
        <div class="col-md-8">
            <input type="text" class="form-control" id="txt-box" data-ng-model="form.box">
        </div>
    </div>
</form>