.idea/
.idea/workspace.xml
.idea/scopes
/.idea
*.iml
/.idea
## Directory-based project format:
.idea/
# if you remove the above rule, at least ignore the following:

#eclipse
.project
iDesigner.xml


bower_components/
node_modules/
.xml
data/1.json
data/2.json
data/chartData.json

karma.conf.js
karma.conf.js.ext
testModalFind.js
test/
karma_html/
scripts/karmaMain.js
