<div >
<div class="row">
<h4>Collection</h4>
<table class="table table-striped">
      <tr>
          <th>Publisher</th>
          <th class="text-right">No. books</th>
      </tr>
      <tr ng-repeat="p in summaryCtrl.publisherList | limitTo: summaryCtrl.displayLimit">
          <td>{{p.publisherName}}</td>
          <td class="text-right">{{p.total}}</td>
      </tr>
      <tr>
          <td>Total</td>
         <td class="text-right">{{ summaryCtrl.publisherList | totalFilter:'total' }}</td>
      </tr>
  </table>
  <div class="text-right">
      <a href="#">View all</a>
  </div>
</div>
<div class="row">
  <most-valuable></most-valuable>
</div>
<div class="row">
  <h4>Most Collected</h4>
  <table class="table table-striped">
      <tr>
          <th>Title</th>
          <th>Issues</th>
      </tr>
    <tr ng-repeat="t in summaryCtrl.titleList | orderBy:'-totalIssues' | limitTo: summaryCtrl.displayLimit ">
          <td>{{t.title}}</td>
          <td class="text-right">{{t.totalIssues}}</td>
      </tr>
      <tr>
          <td>Total</td>
          <td class="text-right">{{summaryCtrl.titleList | totalFilter:'totalIssues'}}</td>
      </tr>
  </table>
  <div class="text-right">
      <a href="#">View all</a>
  </div>
</div>
</div>
