 <table st-table="rowCollection" class="table table-striped">
  <thead>
  <tr>
    <th>Publisher</th>
    <th>Title</th>
    <th>Issue</th>
    <th>Qty</th>
    <th>Price</th>
    <th>Value</th>
    <th>Condition</th>
    <th>Box</th>
    <th>Notes</th>
    <th>Delete</th>

  </tr>
  </thead>
  <tbody>
  <tr ng-repeat="row in rowCollection">
    <td>{{row.publisher | getNameFilter}}</td>
    <td>{{row.title | getNameFilter}}</td>
    <td>{{row.issue}}</td>
    <td>{{row.qty}}</td>
    <td>{{row.price}}</td>
    <td>{{row.mkt}}</td>
    <td>{{row.condition}}</td>
    <td>{{row.box}}</td>
    <td>{{row.notes}}</td>
    <td><button id="removeBtn_{{$index}}" type="button" class="btn-small" ng-click="deleteEntry($index)">[x]</button> </td>
  </tr>
  </tbody>
</table>
<div class="text-center">
    <button type="button" class="btn btn-primary btn-sm " ng-click="saveEntries()">Save</button>
</div>
