<h4>Comic Entry</h4>
        <!--<div class="well alert-warning"  ng-hide="entryForm.$valid">Invalid form</div>-->
<div class="well well-sm">
	<form novalidate role="form" id="entryForm" name="entryForm" ng-submit="addEntry()">
		<div class="form-horizontal">
			<div class="col-lg-12">
					<div id="errorContainer" class="bg-danger error" ng-if="entryForm.$invalid && submitted">
							<div>
							<div ng-messages = "entryForm.ddl_title.$error">
								<div ng-message = "required" >Title is required</div>
							</div>
						</div>
						<div >
							<div ng-messages = "entryForm.txt_issue.$error" >
								<div ng-message = "required" >Issue number is required</div>
								<div ng-message = "maxlength" >Issue number is too long</div>
							</div>
							<div ng-messages = "entryForm.txt_price.$error" >
								<div ng-message = "currencyValidation" >Price is invalid</div>
								<div ng-message = "maxlength" >Amount is too long</div>
							</div>
							<div ng-messages = "entryForm.txt_mkt.$error" >
								<div ng-message = "currencyValidation" >Market price is invalid</div>
								<div ng-message = "maxlength" >Amount is too long</div>
							</div>
						</div>
							<div ng-messages ="entryForm.txt_qty.$error" >
								<div ng-message = "maxlength" >Qty number is too long</div>
							</div>
					</div>
			</div>
		</div>
		<div class="form-horizontal">
				<div class="form-group">
					<div class="col-lg-3">
						<label for="txtPurchaseDate">Purchase date:</label>
						<div class="input-group">
				              <input type="text" class="form-control" id="txt-purchased" datepicker-popup="{{format}}"
											 	ng-model="dt" is-open="opened" min-date="minDate" max-date="'2100-05-20'"  date-disabled="disabled(date, mode)" close-text="Close" />
				              <span class="input-group-btn">
				                <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
				              </span>
					    </div>
					</div>
					<div class="col-lg-3">
						<label for="ddl_publisher">Publisher <span class="text-danger">*</span></label>
								<select class="form-control" id="ddl_publisher" name="ddl_publisher" ng-model="form.publisher"  required
			                 ng-options="p.publisherName for p in publisherlist" ng-change="setPublisher(form.publisher);">
											<option value="">Choose one</option>
			            </select>


					</div>
				</div>
		</div>
	    <div class="form-horizontal ">
				<div class="form-group">
						<div class="col-lg-3">
							<label for="ddl_title">Title <span class="text-danger">*</span></label>
							<select class="form-control" id="ddl_title" name="ddl_title" ng-model="form.ddltitle" data-ng-disabled="hasPublisher"  required
											ng-options="t.title for t in titleslist | filter: {publisherId:selectedPublisher} | orderBy:'title'">
											<option value="">Choose one</option>
							</select>
						</div>
		        <div class="col-lg-1">
								<label for="txt_issue">Issue <span class="text-danger">*</span></label>
								<input type="text" class="form-control"  name="txt_issue" id="txt_issue" ng-model="form.issue" ng-maxlength="5"
									ng-required = "!hasPublisher" data-ng-disabled="hasPublisher" data-numbers-only/>
						</div>
		        <div class="col-lg-1">
							<label for="txt_qty">Qty</label>
							<input type="text"  min="0" max="10" class="form-control" id="txt_qty" name="txt_qty" ng-model="form.qty"
							 data-ng-disabled="hasPublisher" ng-maxlength="3" min="0" max="100" data-numbers-only>
						</div>
		        <div class="col-lg-1">
							<label for="txt_price">Price</label>
							<input type="text" class="form-control" id="txt_price" name="txt_price" data-ng-model="form.price" data-ng-disabled="hasPublisher" min="0" max="1000" maxlength="7" data-currency-only currencyValidation>
						</div>
		        <div class="col-lg-1">
								<label for="txt_value">Mkt</label>
								<input type="text" class="form-control" id="txt_mkt" name="txt_mkt" data-ng-model="form.mkt" data-ng-disabled="hasPublisher" maxlength="7" data-currency-only currencyValidation>
						</div>
		        <div class="col-lg-1">
								<label for="txt_condition">Condition</label>
								<select class="form-control" id="ddl_condition" name="ddl_condition" data-ng-model="form.condition" data-ng-disabled="hasPublisher">
		                <option value="">--</option>
		                <option value="Mint">Mint</option>
		                <option value="Fine">Fine</option>
		                <option value="Good">Good</option>
		                <option value="Fair">Fair</option>
		                <option value="Poor">Poor</option>
		        		</select>
						</div>
		        <div class="col-lg-1">
								<label for="txt_box">Box</label>
								<input type="text" class="form-control" id="txt_box" name="txt_box" data-ng-model="form.box" type="number"  min="0" max="100" ng-maxlength="3" data-numbers-only data-ng-disabled="hasPublisher">
						</div>
		        <div class="col-lg-3 addEntry_buttons">
							<label for="btn_Notes" class="sr-only">Notes</label>
								<button type="button" class="btn btn-primary" id="btn_Notes" name="btn_Notes" aria-label="Notes" data-ng-disabled="hasPublisher" data-toggle="modal" data-target="#notesModal">
									<span class=" glyphicon glyphicon-file" aria-hidden="true" ></span>
							</button>
							<label for="btn_Add" class="sr-only">Add</label>
							<button type="submit" class="btn btn-primary" aria-label="Add" id="btn_Add" name="btn_Add"  data-ng-disabled="hasPublisher">
									<span class=" glyphicon glyphicon-plus-sign" aria-hidden="true" ></span>
							</button>
						</div>
				</div>
	    </div>

	<!-- Modal -->
		<div class="modal fade" id="notesModal" tabindex="-1" role="dialog" aria-labelledby="notesTitle" aria-hidden="true">
		  <div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        <h4 class="modal-title" id="notesTitle">Add notes</h4>
		      </div>
		      <div class="modal-body">
		       		<textarea rows="5" cols="85" id="ta_notes" name="ta_notes" ng-model="form.notes"></textarea>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		        <button type="button" class="btn btn-primary" ng-click="saveNotes()">Save changes</button>
		      </div>
		    </div>
		  </div>
		</div>
	</form>
</div>
