<div>
  <div class="row">
      <h4>Monthly Spending</h4>
      <canvas id="bar" class="chart chart-bar" data="data" labels="labels"></canvas>
  </div>
  <div class="row">
         <new-entry></new-entry>
  </div>
  <div class="row">
    <br/>
        <!-- <div ui-grid="bookEntriesGridOptions" class="myGrid" ></div>  -->
      <entry-table></entry-table>
        <!-- ui-grid-edit -->
      <br/>
      <div class="text-center">
          <button type="button" class="btn btn-primary btn-sm ">Save</button>
      </div>

  </div>
</div>
