<div class="col-lg-2">
   <side-nav></side-nav>
</div>
<div class="col-lg-7">
    <div class="row">{{displayChart}}
      <h4 ><div ng-click="showChart()">Monthly Spending</div></h4>
        <canvas id="bar" class="chart chart-bar" data="data" labels="labels" ng-show="displayChart"></canvas>
    </div>
    <div class="row">
         <new-entry></new-entry>
       </div>
    <div class="row">
      <br/>
      <entry-table></entry-table>
    </div>
</div>
<div class="col-lg-3"  style="padding:0px 35px">
    <div summary ></div>
</div>
